<div><h1 class="ignore">Word Scrambler</h1></div>
<div class="ignore">
    <!--<a href="#" (click)="toggleInput()">
        <svg id="showInput" class="bi bi-box-arrow-in-right invisible" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.146 11.354a.5.5 0 010-.708L10.793 8 8.146 5.354a.5.5 0 11.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M1 8a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9A.5.5 0 011 8z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M13.5 14.5A1.5 1.5 0 0015 13V3a1.5 1.5 0 00-1.5-1.5h-8A1.5 1.5 0 004 3v1.5a.5.5 0 001 0V3a.5.5 0 01.5-.5h8a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-8A.5.5 0 015 13v-1.5a.5.5 0 00-1 0V13a1.5 1.5 0 001.5 1.5h8z" clip-rule="evenodd"/>
        </svg>
        <svg id="hideInput" class="bi bi-box-arrow-in-left" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.854 11.354a.5.5 0 000-.708L5.207 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M15 8a.5.5 0 00-.5-.5h-9a.5.5 0 000 1h9A.5.5 0 0015 8z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M2.5 14.5A1.5 1.5 0 011 13V3a1.5 1.5 0 011.5-1.5h8A1.5 1.5 0 0112 3v1.5a.5.5 0 01-1 0V3a.5.5 0 00-.5-.5h-8A.5.5 0 002 3v10a.5.5 0 00.5.5h8a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V13a1.5 1.5 0 01-1.5 1.5h-8z" clip-rule="evenodd"/>
          </svg>
    </a>&nbsp;
    <button class="btn btn-primary" (click)="toggleAnswers()">Show Answers</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="generateActivity(title1.value, opSel.value, maxNumber.value, pageCount.value, wordProblems.value)">Generate Activity</button><br>-->
</div>
<div class='container'>
    <div class='row'>
        <div class='col-6 ignore'>
            Title:<br><input id="title"/>
            <br>
            Word List (comma separated):<br><textarea id="wordListIn"></textarea>
            <br>
            Image URL:&nbsp;<input id="imageUrl"/>
            <br>
            <select id = "languageSelector">
                <option value="EN">English</option>
                <option value="SP">Spanish</option>
            </select>
            <br>
            <button id="generateWordScramble">Generate Word Scramble</button>
        </div>
        <div class='col-6'>
            <div id="output">
                <div id ="header">
                    <h1 class="outTitle">{{titleOut}}</h1>
                </div>
                <div id = "body" class="container">
                    <div class = "row">
                        <div class="col-1"></div>
                        <div class="col">
                            <div class="word" *ngFor="let term of bodyOut">
                                <span *ngFor="let letter of term" [ngClass]="{'decode': letter.type === 'c',
                                'punctuation': letter.type === 'p'}">{{letter.hold}}{{letter.num}}</span>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <div id = "key" class="container">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 valignBottom rotate text-left">
                            {{footerOut}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>