body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: initial;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 25px;
}
div {
    text-align: center;
}

.border {
    border: 1px solid black;
    width: 744px;
}

.footer {
    font-size: 30px;
    margin-top: 25px;
    width: 690px;
    text-align: center;
}

.decode {
    text-align: center;
    position: relative;
    margin-top: 35px;
}

.decode:before {
    display: block;
    border-bottom: 1px solid black;
    content: " ";
}

.wordproblem {
    display: inline-block;
    margin-bottom: 140px;
    height: 50px;
    position: relative;
    font-size: 32px;
}

.problem {
    display: inline-block;
    margin-bottom: 180px;
    height: 50px;
    position: relative;
    font-size: 32px;
}

#body {
    font-size: 20px;
}

.numbers {
    font-size: 24px;
}

.punctuation {
    width: 12px !important;
    text-align: left;
    top: -57px;
    position: relative;
}

.noPad {
    padding: 0px;
}

.padBottom {
    padding-bottom: 80px;
}

.bottom {
    border-bottom: 2px solid black;
}

.divisor {
    border-right: 2px black solid; 
    border-radius: 0px 0px 10px 0px;
}

.dividend {
    border-top: 2px black solid;
}

.forceWidth {
    display: inline-block;
    min-width:66px;
}

.myPad {
    padding-top: 40px;
    padding-bottom: 40px;
}