header {
    font-size: x-large;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: initial !important;
}
span {
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border-top: black 5px;
    margin-right: 10px;
    width: 45px;
}
h1 {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 25px;
}
div {
    text-align: center;
}
.border {
    border: 1px solid black;
    width: 744px;
}
.footer {
    font-size: 30px;
    margin-top: 25px;
    width: 690px;
    text-align: center;
}
.decode {
    text-align: center;
    position: relative;
    margin-top: 35px;
}
.decode:before {
    display: block;
    border-bottom: 1px solid black;
    content: " ";
}

.word {
    display: inline-block;
    margin: 0 5px 50px 0;
    height: 75px;
    position: relative;
}
#output{
    height: 11in;
    max-height: 11in;
    max-width: 7in;
    border:0 !important;
}
#body {
    font-size: 45px;
}
#key {
    font-size: 10px;
}
.numbers {
    font-size: 24px;
}
.punctuation {
    width: 12px !important;
    text-align: left;
    top: -57px;
    position: relative;
}
.noPad {
    padding: 0px;
}
.rotate {
    transform: rotate(180deg);
}

.centaur {
    display:flex;
    justify-content:center;
    align-items:center;
}